@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}

.card {
    width: 580px;
    height: 780px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    margin-top: 250px;
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 0px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 0px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px 2px rgba(0,0,0,0.75);
}

.card .image1 {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 20px;
}

.highlighted__text {
    width: 150px;
    height: 50px;
    background-color: hsl(47, 88%, 63%);
    text-align: center;
    transform: translate(-170px, -30px);
    display: flex;
    justify-content: center;
    border-radius: 10px;

}

.highlighted__text h3 {
    margin: auto;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 10px;
}

.info h4 {
    font-size: 1.5rem;
    margin-top: -10px;
    margin-left: -85px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-left: 67px;
}

.info h3 {
    font-size: 2.2rem;
    margin-top: -5px;
    margin-left: -15px;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.info .text-p {
    font-size: 1.5rem;
    transform: translate(-10px, -20px);
    opacity: 0.7;
}

.image2 img {
    margin-left: -150px;
}

.image2 h2 {
    transform: translate(-60px, -50px);
    font-weight: 800;
}

@media screen and (max-width: 480px) {
    .card {
        width: 320px;
    }

    .card .image1 {
        width: 90%;
        margin-top: -130px;
    }

    .highlighted__text {
        margin-left: 200px;
    }

    .info h4 {
        font-size: 1.2rem;
        transform: translateX(30px);
    }

    .info h3 {
        font-size: 1.4rem;
        transform: translateX(20px);
    }

    .info .text-p {
        font-size: 1rem;
        transform: translateX(2px);
        text-wrap: nowrap;
    }

    .image2 {
        transform: translate(70px, 70px);
    }


}
